/* GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');

/* paleta de colores: root */
:root {
    --primary-blue: red;
    --txtBlack: black;
    --font-principal: 'Thasadith', sans-serif;
    ;

}
body{
    width: 99.2%;
    /* background-color:rgb(255, 255, 255); */
    background: rgb(255, 255, 255);
    
    
}
header {
    background-color: white;
    display: flex;
    margin: 2px;
    height: auto;
    width: 100%;
    background-image: radial-gradient(circle at 50% -20.71%, #693c7d 0, #4c256d 25%, #290b5b 50%, #00004a 75%, #00003c 100%);
}
.banner{
    justify-content:space-between;
}

.banner-i {
    background-color: black;
    color: white;
    border-radius: 0px 25px 25px 0px;

    width: 70%;
    height: 200px;
    font-family: var(--font-principal);

    display: flex;
    justify-content: center;

}

.banner-i>.tit-p {
    display: flex;
    align-content: center;
    justify-content: left;
    align-items: center;
    font-size: 32pt;
    font-weight: 100;
    font-stretch: expanded;
    padding: 1%;
}

.banner-d{
    color: var(--txtBlack);
    width: auto;


    height: 10%;
    font-family: var(--font-principal);

    display: flex;
    justify-content: space-between;
    

}

.description{
    background-color: black;
    color: white;
    font-family: var(--font-principal);
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    
}


.h2-1>span{
/* font-size: 20px;
padding-right: 10px; */
white-space: nowrap;
    border-right: 4px solid ;
    display: block;
    width: 25ch ;

    animation: typing 2.2s steps(25), blink  .5s infinite step-end alternate;
    overflow: hidden;
}
@keyframes typing {
    from{
        width: 0;
    }
  
}
@keyframes blink {
    50%{
        border-color: transparent;
    }
  
}


/* #separador-descript>span{
    padding:1px;
    font-size: 20px;
    
}

  

.h2-2>span{
    padding-left: 10px;
    font-size: 20px;
} */

#link-ldn {
    display: flex;
    position: relative;
    padding: 47px 30px 30px 3px;
    color: white;
    text-decoration: none;
    margin: auto;



}
#link-ldn:hover{
    
    text-decoration:underline;
    /*offset-x | offset-y | blur-radius + color*/ /*--refractor: mover margen en vertical, mover margen en horizontal y opacidad-*/
    text-shadow: 1px 1px 2px #6134dd;/*resaltado*/
    
  }
#link-github {
    display: flex;
    position: relative;
    padding: 47px 4px 30px 5px;
    color: rgb(7, 103, 198);
    text-decoration: none;
    margin: auto;

}
#link-github:hover{
    text-decoration:underline;
    /*offset-x | offset-y | blur-radius + color*/ /*--refractor: mover margen en vertical, mover margen en horizontal y opacidad-*/
    text-shadow: 1px 1px 2px #6134dd;/*resaltado*/
  }



#imgperfil {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1%;
    border-radius: 50%;

}

#imglnkdin {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 40px 4px 30px 30px;
    border-radius: 5px;
}
#imggit {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 40px 4px 1px 30px;
    border-radius: 5px;
}

  /* menu hamburgesa */


/* mediaqueries */
/* Por debajo de 600px */
@media screen and (max-width: 600px) {

    #imgperfil {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 40% 2%;
        height: 80px;
        border-radius: 50%;

    }
    .banner-i {
        background-color: black;
        color: white;
        border-radius: 0px 30px 25px 0px;
    
        width:80%;
        height: 150px;
        font-family: var(--font-principal);
    
        display: flex;
        justify-content:space-between;
    
    }
    .banner-d{
        color: var(--txtBlack);
        width: auto;
        position:relative;
        padding-top:10px;
        height: 10%;
        font-family: var(--font-principal);
        font-size: small;
        display: grid;
        align-content:unset;
        justify-content: space-around;
        
    
    }

    .banner-i>.tit-p {
        display: flex;
        align-content: center;
        justify-content: left;
        align-items: center;
        font-size: 12pt;
        font-weight: 100;
        font-stretch: expanded;
        padding: 20px;
    }
    .description{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: var(--font-principal);
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-size: 8pt;
    }
    
    #imgperfil {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 10% 5%;
        height: 100px;
        border-radius: 50% ;

    }
    #img-banner1{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0px;
        height: 0px;
        
    }

    #imglnkdin {
        display: grid;
        justify-content: center;
        
        align-content: space-between;
        padding: 10px 2px 2px 10px;
        border-radius: 5px;
        width: 1.5em;
        height: 1.5em;
    }
    #imggit {
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 10px 2px 2px 10px;
        width: 1.5em;
        height: 1.5em;
        border-radius: 5px;
       
    }

    #link-ldn {
        display: flex;
        position: relative;
        padding: 2px 2px 15px 2px;
        color:#fff;
        text-rendering: geometricPrecision;
        margin: auto;
    
    
    
    }
    
    #link-github {
        display: flex;
        position: relative;
        padding: 2px 2px 15px 2px;
        color: rgb(7, 103, 198);
        text-decoration: none;
        margin: auto;
    
    }
}