<html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio.dev</title>
    <!-- links -->
    <link rel="stylesheet" href="/assets/css/Normalize.css">
    <link rel="stylesheet" href="/assets/css/main.css"> <!-- container main-body -->
    <link rel="stylesheet" href="/assets/css/header.css"> <!-- header-body -->
    <link rel="stylesheet" href="/assets/css/footer.css"> <!-- footer-body -->

</head>

<body>
    <header>
        <section class="banner-i">
            <h1 class="tit-p">DEV_ MANUEL</h1>

            <img id="img-banner1" src="/assets/images/bannerdev.jpg" alt="dev-banner" height="200px">

            <img id="imgperfil" src="/assets/images/1254profl.jpeg" alt="dev-banner" height="185px">




        </section>
        <aside class="banner">
            <div class="banner-d">
                <img id="imglnkdin" src="/assets/images/linkedinicon.png" alt="img-Linkedinlogo" width="36em"
                    height="36em">
                <a id="link-ldn" target="_blank" href="https://www.linkedin.com/in/juanmanuel-ts">Linkedin</a>

                <img id="imggit" src="/assets/images/githublogow.png" alt="img-githublogo" width="36em" height="36em">
                <a id="link-github" target="_blank" href="https://github.com/jmanueltorress/">Mi Repo</a>


            </div>



        </aside>

    </header>
    <section class="description">
        <h2 class="h2-1">
            <span>DESARROLLADOR DE SOFTWARE </span>
        </h2>


    </section>

    <!-- aqui va el menu -->
    
    <nav>
        <div>
            <input type="checkbox" id="check">
            <label for="check" class="bar-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="28"
                    height="28" viewBox="0 0 24 24" stroke-width="2.5" stroke="#000000" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <line x1="4" y1="6" x2="20" y2="6" />
                    <line x1="4" y1="12" x2="20" y2="12" />
                    <line x1="4" y1="18" x2="20" y2="18" />
                </svg>
            </label>

            <ul class="nav-menu">
                <li> <a class="active" href="/index.html">About</a> </li>
                <li> <a href="/Templates/Portafolio.html">Proyectos</a> </li>
                <li> <a href="/Templates/Contacto.html">Contacto</a> </li>
                <li> <a class="cv" href="/Templates/cv_pdf.html">Check CV</a> </li>

            </ul>
        </div>
    </nav>
    <main>
    <form class="contact-body">
        <div class="container">
            <div id="contact" action="" method="post">
                <h3>Contactame</h3>
                <h4>Envia mensaje o comentario rellenando este formulario!</h4>
                <fieldset>
                    <input placeholder="Tu nombre" type="text" tabindex="1" required autofocus>
                </fieldset>
                <fieldset>
                    <input placeholder="Direccion de email" type="email" tabindex="2" required>
                </fieldset>
                <fieldset>
                    <input placeholder="Numero telefonico" type="tel" tabindex="3" required>
                </fieldset>
                <fieldset>
                    <input placeholder="Tu sitio web: https://..." type="url" tabindex="4" required>
                </fieldset>
                <fieldset>
                    <textarea placeholder="Escribe tu mensaje aquí...." tabindex="5" required></textarea>
                </fieldset>
                <fieldset>
                    <button name="submit" type="submit" id="contact-submit" data-submit="...Enviando">Enviar</button>
                </fieldset>
            </div>


        </div>
    </form>
</main>
    <footer class="ftr">
        <div class="footer-container">
            <!-- <h3>@jmanuel-ts Developer</h3> -->
            <p>Site made by Manuel_ Dev</p>
            <h3>©2023 Copyright</h3>
        </div>
    </footer>

</body>



</html>