<html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio.dev</title>
    <!-- links -->
    <link rel="stylesheet" href="/assets/css/Normalize.css">
    <link rel="stylesheet" href="/assets/css/main.css">   <!-- container main-body -->
    <link rel="stylesheet" href="/assets/css/header.css"> <!-- header-body -->
    <link rel="stylesheet" href="/assets/css/footer.css"> <!-- footer-body -->
    <link rel="stylesheet" href="/assets/css/burger-menu.css" />
</head>

<body>
    <header>
        <section class="banner-i">
            <h1 class="tit-p">DEV_ MANUEL</h1>

            <img id="img-banner1" src="/assets/images/bannerdev.jpg" alt="dev-banner" height="200px">

            <img id="imgperfil" src="/assets/images/1254profl.jpeg" alt="dev-banner" height="185px">




        </section>
        <aside class="banner">
            <div class="banner-d">
                <img id="imglnkdin" src="/assets/images/linkedinicon.png" alt="img-Linkedinlogo" width="36em"
                    height="36em">
                <a id="link-ldn" target="_blank" href="https://www.linkedin.com/in/juanmanuel-ts">Linkedin</a>

                <img id="imggit" src="/assets/images/githublogow.png" alt="img-githublogo" width="36em" height="36em">
                <a id="link-github" target="_blank" href="https://github.com/jmanueltorress/">Mi Repo</a>


            </div>



        </aside>
       
    </header>
    <section class="description">
        <h2 class="h2-1">
            <span>DESARROLLADOR DE SOFTWARE </span>
        </h2>
     

    </section>
    
    <!-- aqui va el menu hamburgesa -->


    <!-- <div class="lista">row-principal</div> -->
    
    <h3 class="sub-title-A">Hecha un vistazo a mis proyectos! </h3> 
    
<div class="wrapper">
    
            <div class="proyecto-1">
                <img src="https://img.freepik.com/vector-gratis/companeros-piso-comenzando-proyecto-empresarial_23-2148857003.jpg" alt="proyecto-1-img">
              </div>
          <div class="proyecto-2">
                <img src="https://img.freepik.com/vector-gratis/companeros-piso-comenzando-proyecto-empresarial_23-2148857003.jpg" alt="proyecto-2-img">
              </div>
          <div class="proyecto-3">
                <img src="https://img.freepik.com/vector-gratis/companeros-piso-comenzando-proyecto-empresarial_23-2148857003.jpg" alt="proyecto-3-img">
              </div>
              <div class="proyecto-4">
                <img src="https://img.freepik.com/vector-gratis/companeros-piso-comenzando-proyecto-empresarial_23-2148857003.jpg" alt="proyecto-4-img">
              </div>
  <!-- <div class="lista">row-2</div> -->
          <div class="proyecto-5">
                <img src="https://img.freepik.com/vector-gratis/companeros-piso-comenzando-proyecto-empresarial_23-2148857003.jpg" alt="proyecto-5-img">
              </div>
          <div class="proyecto-6">
                <img src="https://img.freepik.com/vector-gratis/companeros-piso-comenzando-proyecto-empresarial_23-2148857003.jpg" alt="proyecto-6-img">
              </div>
          <div class="proyecto-7">
                <img src="https://img.freepik.com/vector-gratis/companeros-piso-comenzando-proyecto-empresarial_23-2148857003.jpg" alt="proyecto-7-img">
              </div>
          <div class="proyecto-8">
                <img src="https://img.freepik.com/vector-gratis/companeros-piso-comenzando-proyecto-empresarial_23-2148857003.jpg" alt="proyecto-8-img">
              </div>
  
            
            
            
        </div>      
    </div>   
    
    <footer class="ftr">
        <div class="footer-container">
            <!-- <h3>@jmanuel-ts Developer</h3> -->
            <p>Site made by Manuel_ Dev</p>
            <h3>©2023 Copyright</h3>
        </div>
            </footer>
       
</body>



</html>